# Django settings
DEBUG=false
SECRET_KEY=your_secure_secret_key_here

# RabbitMQ settings
RABBITMQ_DEFAULT_USER=your_rabbitmq_user
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_STOCK_QUEUE=stock_queue
RABBITMQ_TIMEOUT=10

# Services URLs
STOCK_SERVICE_URL=http://stock-service:8001
RABBITMQ_SERVICE_URL=http://rabbitmq-service:8080

# Admin account
ADMIN_USERNAME=your_admin_username
ADMIN_EMAIL=your_admin_email@example.com
ADMIN_PASSWORD=your_strong_admin_password