# Requires Python >=3.8.1
django==3.1.7
asgiref==3.3.1
djangorestframework==3.12.4
pytz==2021.3  # Updated to satisfy Celery requirement
sqlparse==0.4.1
certifi==2020.12.5
chardet==4.0.0
idna==2.10
requests==2.25.1
urllib3==1.26.4
setuptools>=59.0.0
pika==1.2.0  # RabbitMQ client
json-tricks==3.16.1  # For better JSON serialization
gunicorn==20.1.0  # WSGI HTTP Server for UNIX
celery==5.2.7  # For asynchronous task processing
django-celery-results==2.4.0  # For storing Celery results in Django ORM
kombu>=5.2.3,<6.0  # Required by Celery
billiard>=3.6.4.0,<4.0  # Required by Celery
vine>=5.0.0,<6.0  # Required by Celery